
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
            <div class="login-brand ">
                <img src="~/assets/images/LogoHotel.png" alt="logo" width="100" class="bg-dark  shadow-light rounded-circle">
            </div>

            <div class="card card-primary">
                <div class="card-body">
                    @using (Html.BeginForm())
                    {

                        <div class="text-success">
                            @ViewBag.message
                        </div>
                        <div class="form-group">
                            <label class="label">Email</label>
                            @Html.TextBox("Email", "", new { @class = "form-control" })
                        </div>
                        <div class="text-center form-group">
                            <button type="submit" class="col-md-12 btn btn-primary">
                                <i class="fa-solid fa-paper-plane"></i>&emsp;Send
                            </button>
                        </div>
                        <div class="text-center form-group">
                            <a href="/Login_63132986/Login" class="col-md-12 btn btn-danger">
                                <i class="fa-solid fa-door-open"></i>&emsp;Back
                            </a>
                        </div>
                    }
                </div>
            </div>
            <div class="mt-5 text-muted text-center">
                Don't have an account? <a href="/Login_63132986/SignUp">Create One</a>
            </div>
            <div class="simple-footer">
                RunchTy Hotel
            </div>
        </div>
    </div>
</div>
